/* @import url("https://fonts.googleapis.com/css?family=Roboto"); */

.flex-container {
   /* display: flex; */
  /* flex-direction: row; */
  float:right;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  text-align: center;
  flex-wrap: wrap; 
  padding-left:30;
  padding-top:18;
 
}
.form-group,
.time-container {
/*  display: flex;
  flex-direction: column;
  align-items: center;*/
}
.time-container input:focus {
  /* outline: 0 !important; */
}
#left,
#right {
  /* font-size: 6em;
  padding-top: 15px; */
}
